doctype html
html
	head
		title= appName
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="shortcut icon", href="/arpisea/images/favicon.png")

		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css", media="screen, projection")
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="/arpisea/main.css", media="screen, projection")

	body(ng-app="arpisea")

		block content

		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js")


		script(type="text/javascript", src="/arpisea/lib/ui-bootstrap-custom-tpls-0.10.0.min.js")
		script(type="text/javascript", src="/arpisea/main.js")

		script.
			APP_MODULE.value('rpcUrl', '#{_url}');